<!DOCTYPE html>
<html>
  <head>
    <title>Web</title>
    <%= favicon %>
    <%= javascript 'application' %>
    <%= javascript 'cable' %>
    <%= javascript 'channel' %>
    <%#= javascript 'notification' %>
  </head>
  <body>
    <%= yield %>
  </body>
</html>
